@model User

@if (Model.Meals.Count == 0)
{
    <h5>No Meals yet....</h5>
}
else
{
    <div class="card rounded shadow p-4">
        <table class="table table-sm">
            <thead>
                <tr> 
                     <th>Id</th>          
                    <th>Meal</th>      
                    <th>Created</th>  
                    <th>Active</th>   
 
                    <th>TotalCalories</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var t in Model.Meals) {
                    <tr>
                         <td>@t.Id</td>
                         <td>@t.Name</td>
                         <td>@t.DateMeal.ToShortDateString()</td>
                         <td>@t.TotalCalories</td>
                      
                        <td>
                            <a asp-action="MessageDelete" asp-route-id="@t.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}