@model User

@if (Model.Messages.Count == 0)
{
    <h5>No Messages yet....</h5>
}
else
{
    <div class="card rounded shadow p-4">
        <table class="table table-sm">
            <thead>
                <tr> 
                     <th>Id</th>          
                    <th>From</th>      
                    <th>Created</th>  
                    <th>Active</th>   
                     <th class="w-75">Message Info</th>    
                    <th>Actions</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var t in Model.Messages) {
                    <tr>
                         <td>@t.Id</td>
                         <td>@t.Name</td>
                         <td>@t.CreatedOn.ToShortDateString()</td>
                         <td>@t.Active</td>
                         <td>@t.Context</td>
                        <td>
                            @if (@t.Active) 
                            {
                                <i class="bi bi-toggle-on"></i>
                            }
                            else
                            {
                                <i class="bi bi-toggle-off"></i>
                            }
                        </td>
                        <td>
                            <a asp-action="MessageDelete" asp-route-id="@t.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}