@model Message

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/User","Users"),
    ($"/User/details/{Model.Id}",$"{Model.Id}"),
    ("","Delete Message")
}) /> 

<h3 class="-mt4 mb-4">Delete Message</h3>

<h4 class="mb-4">Are you sure you want to delete this Message?</h4>

<div>
    <div class="col card rounded shadow p-3">
        <dl class="row">       
            <dt class="col-5">Student</dt>
            <dd class="col-7">@Model.User.Name</dd>

            <dt class="col-5">Context</dt>
            <dd class="col-7">@Model.Context</dd>
            
            <dt class="col-5">Created</dt>
            <dd class="col-7">@Model.CreatedOn.ToShortDateString()</dd>
            
            <dt class="col-5">Active</dt>
            <dd class="col-7">@Model.Active</dd>           
        </dl>
    </div>

    <div class="mt-4">
        <form asp-action="MessageDeleteConfirm" type="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="UserId"/>
            
            <input type="submit" value="Confirm" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="User" asp-action="Details" asp-route-id="@Model.User.Id" >Cancel</a>
        </form>
    </div>
    
</div>